<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/public/css/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

<title>BW</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
</header>
<div class="header">
  <h1>Burn Whisper</h1>
  <p>Home to the worlds ultimate gossip forum </p>
</div>
</header>

<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="#" class="pure-menu-link pure-menu-heading">Login</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Profile</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Feed</a>
        </li>
        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link">Schools</a>
        </li>
    </ul>
</header>

</div>
<div class="button">
    <input type="text" class="form-control search-query">
    <span class="input-group-btn">
        <button class="btn">Search</button>
    </span>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <label for="default-remember">
                <input type="checkbox" id="default-remember" /> Remember me
            </label>
            <a href="./HTML/search.html" target="_self"><button type="submit" class="btn">Sign in</button>
            </a>
          
  </div>

<div class="row">
  <div class="side">
    <h2>Search Schools</h2>
    <h5></h5>
    <div class="fakeimg" style="height:200px;"></div>
    <p></p>
    <h3></h3>
    <p></p>
    <div class="fakeimg" style="height:60px;">UCR</div><br>
    <div class="fakeimg" style="height:60px;">UCLA</div><br>
    <div class="fakeimg" style="height:60px;">USC</div>
  </div>
  <div class="main">
    <h2></h2>
    <h5>Today is: Dec 7, 2022</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>

<div class="footer">
    <div class="site-footer">
        <div class="container">
          <div class="download">
            <span class="download__infos">You simply have to <b>try it</b>.</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="https://github.com/bootflat/bootflat.github.io/archive/master.zip">Download Bootflat</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn" href="documentation.html">Read the Documentation</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- SmartAddon BEGIN -->
           
           <script type="text/javascript">
            (function() {
            var s=document.createElement('script');s.type='text/javascript';s.async = true;
            s.src='http://s1'+'.smartaddon.com/share_addon.js';
            var j =document.getElementsByTagName('script')[0];j.parentNode.insertBefore(s,j);
            })();
            </script>
 <a href="http://www.smartaddon.com/?share" title="Share Button" onclick="return sa_tellafriend('','bookmarks')"><img alt="Share" src="http://bootflat.github.io/img/share.gif" border="0" /></a>
            		
 <h2>Made With Love</h2>
</div>

</body>
</html>