<div class="container2">
  <div class="row">
    <div class="col-12">
{{#if loggedIn}}
    <form class="new-post-form">
        <input type="text" class="form-control bg-dark text-white" id="post-input" name="post-text" placeholder="What's on your mind?" />    
        <button type="submit" class="btn btn-warning" id="btn-post">Post</button>
    </form>
{{/if}}
    

<div class="container-title">
  <div class="row">
    <div class="col-12">
      <div id="header-newsfeed-container">
        <h2 class="text-warning" id="header-newsfeed">Your Feed:</h2>
      </div>
      
    </div>
  </div>
</div>


{{#each posts as |post|}}
<div class="main">
  <h2 class = "postinfo">{{user.username}}</h2>
   <p class="post_text">{{post.post_text}}</p>
    <div class = "bottombar">
      <input type ="image" src="../../assets/thumbs up.jpg" name="Upvote Button" class="upvotes" id="upvoteBtn">
      </div>
    </div>
{{/each}}
</div>
  </div>
</div>
{{#if loggedIn}}
<script src="/js/addPost.js"></script>
<script src="/js/search.js"></script>
{{/if}}