  <div class="container2">
  <div class="post_feed">
    <h2>Your Feed:</h2>
  </div>
{{#each posts as |post|}}
<div class="main">
  <h2 class = "postinfo"></h2>
   <p class="post_text"></p>
    <div class = "bottombar">
      <input type ="image" src="../../assets/thumbs up.jpg" name="Upvote Button" class="upvotes" id="upvoteBtn">
      </div>
    </div>
{{/each}}
  </div>
