<div class="container2">
  <div class="content">
    <div class="col-12">
      <div class="container-title">

  <div class="row">
    <div class="col-12">
        <h2 class="text-warning" id="header-newsfeed">Your Feed:</h2>
      </div>
      
    </div>
  </div>
</div> 

{{#if loggedIn}}
    <form class="new-post-form">
        <input type="text" class="form-control form-control2 bg-dark text-white" id="post-input" name="post-text" placeholder="What's on your mind?" />    
        <button type="submit" class="btn btn-warning" id="btn-post">Post</button>
    </form>
{{/if}}
    



{{#each posts as |post|}}
<div class="main">
  <h2 class = "postinfo">{{user.username}}</h2>
   <p class="post_text">{{post.post_text}}</p>
    <div class = "bottombar">
      <input type ="image" src="/images/thumbsup.png" name="Upvote Button" class="upvotes" id="upvoteBtn">
      </div>
    </div>



{{/each}}
</div>
      <div class="sidebar">
</div>
  </div>
</div>
{{#if loggedIn}}
<script src="/js/addPost.js"></script>
<script src="/js/search.js"></script>
{{/if}}