{{#each posts as |post|}}
<div class="main">
   <h2 class = "postinfo">{{post.user_id}}</h2>
   <p>{{post.post_text}}</p>
    <div class = "bottombar">
      <input type ="image" src="./thumbs up.jpg" name="Upvote Button" class="upvotes" id="upvoteBtn">
      </div>
    </div>
{{/each}}