* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: .4px;
  width: 100%;
  text-align: center;
  color: rgb(122, 76, 76);
  font-style: oblique;
}

.header h1 {
  font-size: 40px;
  padding: 1rem;
  opacity: 90%;
  background-image: url("/images/header.png");

}

.button {
  background-color: #ce949c;
  border: none;
  color: white;
  padding: 20px 22rem;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-wrap: wrap;
  
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  
}

.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex; /* IE10 */
  width: 100%;
}
.footer h2{
  font-size: 20px;
}
span {
  text-align: center;
  content: "\2665";
}
/* added formatting for content */
.side {
  min-width: 100%;
  padding-left: 20px;

}

.sidebar {
  background-color: paleturquoise;
  max-width: 15%;
  display: flex;
}
/* ADDED CSS FOR NAVBARS */
.navbar {
  display:flex;
  align-items: center;
  min-height: 60px;
  background-color: #ce949c;
  justify-content: right;
  padding-left: 50px;
}

.navbar a{
  font-weight: bold;
  color: black;
}

.navbar2 {
  display:flex;
  justify-content: right;
  align-items: center;
  min-height: 40px;
  background-color: #ce949c;
  padding-right: 10px;
}
/* //ADDED IN FOR THE HOMEPAGE CSS */
.new-post-form{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 70px;
  width: 500px;
}

.form-control {
  margin-right: 5px;
}
.form-control2 {
  padding-bottom: 40px;
}

.btn-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 10px;
}
.post_feed {
  display: flex;
  height:20px;
  width: 100%;
  justify-content: flex-start;
}

.main {   
  display: flex;
  margin: 90px 5px 10px 5px;
  background-color: rgb(181, 159, 159);
  width: 100%;
  min-height: 320px;
  height: fit-content;
  flex-direction:column;
}

.container1 {
  min-width: 15%;
  display: flex;
}

.container2 {
  position: absolute;
  width: 100%;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  border-left: solid grey;
  padding: 40px;
}

.container3 {
  position: absolute;
  width: 80%;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  border-left: solid grey;
  padding: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.postinfo {
  height: fit-content;
  width: 100%;
  min-height: 9px;
  border-bottom: black solid;
  padding: 0px 0px 10px 10px;
}

.post_text{ 
  min-height: 130px;
}
.bottombar {
display:flex;
align-items: flex-end;
max-height: 50px;
width: 100%;
border-top: black solid;
}
.login-form {
text-align: right;
position: absolute;
top: 38%;
left: 20%;
width: 100%;
text-align: left;
line-height: 3rem;

}

.login-card {
  text-align: right;
  position: absolute;
  top: 38%;
  left: 20%;
  width: 100%;
  text-align: left;
  line-height: 3rem;
  
  }


.upvotes{
  max-width: inherit;
  max-height: inherit;
  padding-top: 10px;
}
/*ALL FOR HOMEPAGE CSS  */

.fakeimg {
  background-color: rgb(175, 165, 165);
  max-width: 80%;
  padding: 20px;
}

.footer {
  text-align: center;
  background: rgb(249, 198, 248);
  line-height: 3rem;

}

.profile-list {
  background-color: azure;
}
.bio {
  display: inline-block;
  width: auto;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 5px 10px 10px 5px;
  
}

.profiledivider {
  border-bottom: grey 1px solid;
}
.astext {
  text-decoration: underline;
  background:none;
  border: none;
  margin: 0;
  padding: 0;
  cursor:pointer;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
.btn a {

  float: none;
  width: 100%;

} 
}